<div class = "container">
  <div class = "wrapper">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <h2 class = "sign-up">Sign up</h2>
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.submit "Sign up" %>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>