  <p class="notice"><%= notice %></p>
  <div class = "row">
  <div class = "twelve columns intro"><h2>Welcome to the Summoner's Universe!</h2></div>
  </div>
  <div class = "row">
  <div class = "twelve columns intro"><h3>Select your champion from the list below to do battle.</h3></div>
  </div>

  <div class = "row"> 
    <div class = "four columns champion-info">Ashe<%= link_to(image_tag("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{User.get_skin_image('Ashe')}.jpg", class: "champion-img"), games_path(champion: "Ashe"), method: :post) %></div>
    <div class = "four columns champion-info">Janna<%= link_to(image_tag("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{User.get_skin_image('Janna')}.jpg", class: "champion-img"), games_path(champion: "Janna"), method: :post) %></div>
    <div class = "four columns champion-info">Olaf<%= link_to(image_tag("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{User.get_skin_image('Olaf')}.jpg", class: "champion-img"), games_path(champion: "Olaf"), method: :post) %></div>
  </div>
  <div class = "row">
    <div class = "four columns champion-info">Rengar<%= link_to(image_tag("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{User.get_skin_image('Rengar')}.jpg", class: "champion-img"), games_path(champion: "Rengar"), method: :post) %></div>
    <div class = "four columns champion-info">Talon<%= link_to(image_tag("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{User.get_skin_image('Talon')}.jpg", class: "champion-img"), games_path(champion: "Talon"), method: :post) %></div>
    <div class = "four columns champion-info">Yorick<%= link_to(image_tag("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{User.get_skin_image('Yorick')}.jpg", class: "champion-img"), games_path(champion: "Yorick"), method: :post) %></div>
  </div>
