  <div class = "row">
  <div class = "twelve columns intro"><h2>Welcome to the Summoner's Universe!</h2></div>
  </div>
  <div class = "row">
  <div class = "twelve columns intro"><h3>Select your champion from the list below to do battle.</h3></div>
  </div>

  <div class = "row"> 
    <div class = "four columns champion-info">Ashe: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Ashe') %>.jpg" class = "champion-img"></div>
    <div class = "four columns champion-info">Janna: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Janna') %>.jpg" class="champion-img"></div>
    <div class = "four columns champion-info">Olaf: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Olaf') %>.jpg"class="champion-img"> </div>
  </div>
    <div class = "row">
      <div class = "four columns champion-info">Rengar: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Rengar') %>.jpg" class="champion-img"></div>
      <div class = "four columns champion-info">Talon: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Talon') %>.jpg" class="champion-img"></div>
      <div class = "four columns champion-info">Yorick: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Yorick') %>.jpg" class="champion-img"></div>
  </div>
