<main id ="welcome-page">
  <h2>Welcome to the Summoner's Universe!</h2>
  <h3>Select your champion from the list below to do battle.</h3>
  <ul id = "battle-list">
    <li>Ashe: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Ashe') %>.jpg"></li>
    <li>Janna: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Janna') %>.jpg"></li>
    <li>Olaf: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Olaf') %>.jpg"> </li>
    <li>Rengar: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Rengar') %>.jpg"></li>
    <li>Talon: <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%=User.get_skin_image('Talon') %>.jpg">
  </ul>
</main>